/* footer.css */
.Footer {
  background-color: #ffffff; 
  text-align: center; 
  padding: 10px;
}

.social-media a {
    margin: 0 10px; 
    color: #d9d9d9; 
    font-size: 18px; 
  }
  
  .social-media a:hover {
    color: #2142b2; 
  }
