.gameDetail {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.description,
.genre,
.releaseDate {
    font-size: 16px;
    margin-bottom: 5px;
}
