.container {
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
  
}

.homeButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 20px 0;
}

.homeButton:hover {
  background-color: #0056b3;
}
